<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Merriweather&display=swap" rel="stylesheet">

<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
  <section id="hobbies" class="stack">
    <h2 class="section-title">Education</h2>
    <div class="card-list">
      <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h3>Love!</h3>
          </div>
          <div class="flip-card-back">
            <h3>Archita Loves Tanmoy</h3>
          </div>
        </div>
      </div>

      <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h3>Love!</h3>
          </div>
          <div class="flip-card-back">
            <h3>Archita Loves Tanmoyetgtbataefsynse44rgytdbnrme4n5w4a35b454uei6555555555555555555555555555</h3>
          </div>
        </div>
      </div>

      <div class="flip-card" tabIndex="0">
        <div class="flip-card-inner">
          <div class="flip-card-front">
            <h3>Love!</h3>
          </div>
          <div class="flip-card-back">
            <h3>Tuhin Loves Archita!!!</h3>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>