<!-- <body class="body-dark"> -->
    <body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
        <header id="top" class="top">
            <a class="icon-border header-title" href="#">SD</a>
            <nav>
                <ul>
                    <li>
                        <a href="#workexperience" class="link">Experience</a>
                    </li>
                    <li>
                        <a href="#education" class="link">Education</a>
                    </li>
                    <li>
                        <a href="#skillset" class="link">Skills</a>
                    </li>
                    <li>
                        <a href="#project" class="link">Projects</a>
                    </li>
                    <li>
                        <a href="#research" class="link">Research</a>
                    </li>
                    <li>
                        <a href="#certifications" class="link">Certifications</a>
                    </li>
                    <li>
                        <a href="#contact" class="link">Contact</a>
                    </li>
                </ul>
                <button aria-label="Toggle theme" (click)="toggleTheme()">
                    <!-- <i aria-hidden="true" class="icon-normal fas fa-moon"></i> -->
                    <fa-icon [icon]="darkTheme ? toggleLightIcon : toggleDarkIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                </button>
                <!-- <button aria-label="Toggle navbar">
                    <fa-icon [icon]="hamburgerIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                </button> -->
            </nav>
        </header>
        <!-- <hr> -->
    </body>