<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div id="workexperience" class="sectionClass">
        <div class="row ">
            <h2 class="section-title">WORK EXPERIENCE</h2>
            <div class="fullWidth eight columns">
                <ul class="cbp_tmtimeline">
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-phone card">
                            <img src="https://cdn-icons-png.flaticon.com/512/217/217435.png"  aria-hidden="true" class="icon-normal fas fa-bars faPra">
                        </div>
                        <div class="cbp_tmlabel wow fadeInRight animated card">
                            <h3>Software Engineer</h3>
                            <div class="date">
                                <fa-icon [icon]="calendarIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                January 2023 Onwards
                            </div>
                            <h4>
                                <fa-icon [icon]="flagIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                HSBC, Hyderabad
                            </h4>
                            <p class="projectParagraph">Upcoming GCP Data Engineer working with Google Cloud, BigQuery, Java, Javascript, Python</p>
                        </div>
                    </li>
                    <li>
                        <div class="cbp_tmicon cbp_tmicon-phone card">
                            <!-- <fa-icon [icon]="briefcaseIcon" aria-hidden="true" class="icon-normal fas fa-bars faPra"></fa-icon> -->
                            <img src="https://qtxasset.com/quartz/qcloud5/styles/265xauto/s3/media/image/Cognizant%20Logo.png?VersionId=ysqnduWcj4R9guL9eJA2ErjG1epqJhQY&itok=kI-4OHtT"  aria-hidden="true" class="icon-normal fas fa-bars faPra">
                        </div>
                        <div class="cbp_tmlabel wow fadeInRight animated card">
                            <h3>Google Cloud Data Engineer</h3>
                            <div class="date">
                                <fa-icon [icon]="calendarIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                August 2021 - Current
                            </div>
                            <h4>
                                <fa-icon [icon]="flagIcon" aria-hidden="true" class="icon-normal fas fa-bars"></fa-icon>
                                Cognizant, Hyderabad
                            </h4>
                            <p class="projectParagraph">• Worked with Vertex AI, Cloud Dataflow, Cloud Composer, Pub/Sub, BigQuery<br>• Designed and developed some ML models using Tensorflow</p>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</body>