<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <section id="certifications" class="project">
        <h2 class="section-title">CERTIFICATIONS</h2>
        <div *ngIf="images && images.length" class="carousel-container">
            <img *ngFor="let image of images; let i=index" [src]="image.imageSrc" [alt]="image.imageAlt" [ngClass]="{'image-active': selectedIndex === i}" class="fade">

            <div *ngIf="indicators" class="carousel-dot-container">
                <span *ngFor="let dot of images; let i=index" class="dot" [ngClass]="{'active': selectedIndex === i}" (click)="selectImage(i)">
                </span>
            </div>

            <button class="btn-carousel btn-prev" (click)="onPrevClick()">
                <fa-icon [icon]="leftIndicatorIcon" class="fas fa-arrow-circle-left icon-carousel icon-prev"></fa-icon>
            </button>

            <button class="btn-carousel btn-next" (click)="onNextClick()">
                <fa-icon [icon]="rightIndicatorIcon" class="fas fa-arrow-circle-right icon-carousel icon-next"></fa-icon>
            </button>
        </div>
    </section>
</body>