<body [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
    <div class="hero">
        <h1 class="container">
            Hi. I am
            <span #textElement class="hero-name text"></span>
            <span #blinkElement class="hero-name text blink"></span>
        </h1>
    
        <div class="hero-about">
            <p>
                Epistemophilic student of Computer Science offering extensive analytical and critical thinking skills. Deep Learning enthusiast with a pro-active approach, great work ethic, and the ability to function well in fast-paced and deadline driven team environments. 
            </p>
            <a class="resume" href="https://drive.google.com/file/d/1FMydQgTZ7A1DdAsX1Di3VkiuZfhthaaM/view?usp=sharing" target="_blank">
                <span class="btn">Resume</span>
            </a>
        </div>
    </div>
</body>