<html>
	<head>
		<meta name="viewport" content="width=device-width, initial-scale=0.5">
	</head>
	<body class="mainBody" [ngClass]="darkTheme ? 'body-dark' : 'body-light'">
		<link rel="preconnect" href="https://fonts.gstatic.com" />
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap" rel="stylesheet" />
		<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/devicons/devicon@v2.14.0/devicon.min.css" />
		<script src="https://kit.fontawesome.com/fa62c117c7.js" crossorigin="anonymous"></script>
	
		<div class="container-fluid">
			<app-header (newItemEvent)="toggleTheme($event)"></app-header>
			<app-education [darkTheme]="darkTheme"></app-education>
			<app-introduction [darkTheme]="darkTheme"></app-introduction>
			<app-experience [darkTheme]="darkTheme"></app-experience>
			<app-projects [darkTheme]="darkTheme"></app-projects>
			<app-skillset [darkTheme]="darkTheme"></app-skillset>
			<app-work [darkTheme]="darkTheme" [images]="images" [autoSlide]="true" [slideInterval]="5000"></app-work>
			<app-research [darkTheme]="darkTheme"></app-research>
			<app-contacts [darkTheme]="darkTheme"></app-contacts>
			
	
			<footer>
				<button>
					<a href="https://www.facebook.com/sumagnadey/" target="_blank">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/0/05/Facebook_Logo_%282019%29.png/1024px-Facebook_Logo_%282019%29.png">
					</a>
				</button>
				<button>
					<a href="https://www.instagram.com/sumagnadey/" target="_blank">
						<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/e/e7/Instagram_logo_2016.svg/2048px-Instagram_logo_2016.svg.png">
					</a>
				</button>
				<button>
					<a href="https://www.linkedin.com/in/sumagnadey/" target="_blank">
						<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/linkedin/linkedin-original.svg">
					</a>
				</button>
				<button style="background-color: white;">
					<a href="https://github.com/sumagnadey" target="_blank">
						<img src="https://cdn.jsdelivr.net/gh/devicons/devicon/icons/github/github-original.svg">
					</a>
				</button>
			</footer>
	
			<div class="scroll-container">
				<div aria-label="Scroll up" class="scroll-up">
					<a href="#top">
						<!-- <i aria-hidden="true" class="fas fa-arrow-up"></i> -->
						<fa-icon [icon]="scrollIcon" aria-hidden="true" class="fas fa-arrow-up"></fa-icon>
					</a>
				</div>
			</div>
		</div>
	</body>
</html>